*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body{
    background: white;
}

/* Comenzamos la sección del encabezado*/
.header{
    background: white;
    width: 100%;
    height: 25%;
    display: flex;
}

.foto{
    background: white;
    width: 45%;
    display: flex;
    justify-content: flex-end;
    
}

.header_img{
    object-fit:contain;
    width: 99%;
}

.nombre{
    background: white;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #6f7f7e;
}

.nombre h1{
    font-family: 'Tangerine', cursive;
    font-size: 35px;
    padding: 10px;
}

.nombre h2{
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
}
/* Finalizamos la sección del encabezado*/


/*Comienza la sección de navegación*/
.nav{
    background: white;
    width: 100%;
    height: 5 0px;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Courgette', cursive;
} 

.nav p{
    text-decoration: none;
    color: #6f7f7e;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 5px;    
}

.nav p:hover{
    color: white;
    background-color: #6f7f7e;
    cursor: pointer;   
}
/*Finaliza navegación*/


/*Inicia Main */
.main{
    background: white;
    width: 100%;
    /*height: 100%;*/
    display: flex;
}
/*Finaliza Main*/


/*Inicia Section*/
.section{
    
    background: #6f7f7e;
    width: 45%;
    color: white;
}

.section h3{
    font-family: 'Courgette', cursive;
    color: white;
    padding: 10px 5px;
    font-size: 100%;
    font-weight: 400;
}

.section h4{
    font-family: 'League Spartan', sans-serif;
    color: white;
    padding: 5px 5px 5px 15px;
    font-size: 14px;
    font-weight: 400;
}

.section ul {
    list-style-type: none;
  }
/*Finaliza Section*/

/*Inicia Aside*/

.aside{
    background: white;
    width: 55%;
    height: 100%;
    color: #6f7f7e;
}

.aside h2{
    font-family: 'Courgette', cursive;
    padding: 10px 5px 5px 5px;
    font-size: 16px;
    font-weight: 400;
}
.aside h3{
    font-family: 'League Spartan', sans-serif;
    padding: 10px 15px;
    font-size: 100%;
    font-weight: 400;
}

.aside h4{
    font-family: 'League Spartan', sans-serif;
    padding: 0px 5px 0px 20px;
    font-size: 14px;
    font-weight: 400;
}

.aside h5{
    font-family: 'League Spartan', sans-serif;
    font-size: 10px;
    font-weight: 600;
    color: #794c2f;
}

.aside h6{
    font-family: 'League Spartan', sans-serif;
    font-size: 10px;
    font-weight: 600;
    color: #794c2f;
    padding: 3px 5px 0px 30px;
}

.aside ul{
    list-style-type: none;
}

.aside li{
    padding: 2px 2px 2px 40px;
}
/*Finaliza Aside*/

/*Comienza el footer*/
.footer{
    background: #6f7f7e;
    width: 100%;
    height: 40px;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Courgette', cursive;
}

.footer a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 600;
    padding: 5px;    
}

.footer p{
    color: white;
    font-size: 12px;
    font-weight: 600;
    padding: 5px;    
}

/*finaliza el footer*/